/* Fonts */

@font-face {
  font-family: PT Sans;
  src: url("../fonts/PTSans.woff2") format("woff2"),
   url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
 font-style: normal;
}

@font-face {
  font-family: PT Sans;
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.form-modal * {
  padding: 0;
  margin: 0;
  }

/* variables */
:root {
--basic-black: #000000;
--basic-blue: #81B3D2;
--basic-white: #FFFFFF;
--text-li: #333333;
--basic-brown: #766357;
--background-li: #EEEEEE;
--basic-bacground: #B1AEAE;
--rating-color: #666666;
--input-background: #F2F2F2;
--icon-up-color: #CACACA;
--icon-input-color: #A9A9A9;
--blue-focus: #669EC0;
--blue-active: #5496BD;
--brown-focus: #604E43;
--brown-active: #503E33;
--input-hover: #EBEBEB;
--background-toggle: #ABABAB;
}

.background-shadow {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 40px 0 var(--basic-bacground);
}

.page-body {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-content: start;
}

.main-header {
  position: relative;
  min-height: 56px;
  line-height: 26px;
  font-weight: 700;
  width: 1200px;
  text-align: center;
  background-color: var(--basic-white);
  margin: 0 auto;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.site-navigation {
  display: grid;
  grid-template-columns: 200px 200px 600px 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation li:first-child {
  text-align: left;
  margin: 15px 40px;
  margin-left: 73px;
}

.site-navigation li:nth-child(2) {
  text-align: left;
  margin: 15px 0;
  margin-left: 100px;
}

.site-navigation li:last-child {
  text-align: right;
  margin: 15px 35px;
  margin-right: 72px;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  margin: 15px 0;
  margin-right: 100px;
}

.site-navigation a {
  display: block;
}

.main-header-logo {
  position: absolute;
  right: 530px;
  z-index: 2;
}

.navigation-item {
  text-decoration: none;
  color: var(--basic-black);
}

.navigation-item:hover {
  color: var(--basic-blue);
}

.navigation-item:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.active-page {
  color: var(--basic-brown);
}

.main-border-section {
  position: relative;
}

.main-border {
  background-image: url('../img/mask_main-border.svg'), url('../img/main-border.jpg');
  background-repeat: no-repeat;
  background-position: left 452px, left center;
  width: 1200px;
  height: 508px;
  background-color: var(--background-li);
  margin: 0 auto;
  position: relative;
}

.text-border {
  position: absolute;
  left: 371px;
  top: 77px;
}

.features {
  position: relative;
}

.features-sedona {
  position: absolute;
  display: block;
  top: 27px;
  left: 383px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.five-features {
  margin-top: 100px;
}

.features-grid {
  min-height: 216px;
  width: 1200px;
  background-color: var(--basic-white);
  vertical-align: middle;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-sedona {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.features-head {
  font-size: 21px;
  font-weight: 700;
}

.features-list {
  list-style: none;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 586px 256px 256px;
}

.first-features {
  grid-column: 1/-1;
  grid-row: 1/2;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.second-foto {
  grid-column: 1/-2;
  grid-row: 2/3;
  max-width: 800px;
  max-height: 256px;
  object-fit: contain;
}

.second-features {
  grid-column: -2/-1;
  grid-row: 2/3;
  display: block;
  width: 400px;
  padding-top: 33px;
}

.second-features p {
  padding-top: 9px;
}

.third-features {
  grid-column: 1/2;
  grid-row: 3/4;
  display: block;
  padding-top: -5px;
}

.fourth-features {
  grid-column: 2/3;
  grid-row: 3/4;
  display: block;
}

.fiveth-features {
  grid-column: 3/-1;
  grid-row: 3/4;
  display: block;
}

.first-features {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px 330px;
}

.text-content_item {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.first-head {
  position: absolute;
  display: block;
  top: 30px;
}

.first-number{
  position: absolute;
  display: block;
  top: 102px;
}

.first-text {
  position: absolute;
  display: block;
  top: 146px;
}

.first-foto {
  grid-column: 2/-1;
  grid-row: 1/2;
  max-width: 800px;
  max-height: 256px;
  object-fit: contain;
}

.future-adventure {
  display: none;
  grid-column: 1/-1;
  grid-row: 2/3;
  list-style: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
  display: grid;
  grid-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
}

.first-adventure {
  grid-column: 1/2;
  display: block;
  margin-top: 61px;
  margin-left: 11px;
}

.second-adventure {
  grid-column: 2/3;
  display: block;
  margin-top: 62px;
  margin-left: 9px;
}

.third-adventure {
  grid-column: 3/4;
  display: block;
  margin-top: 56px;
  margin-right: 1px;
}

.adventure-text {
  display: inline-block;
  margin-top: 6px;

}

.blue-back {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  margin: 0 auto;
}

.another {
  background-color: var(--background-li);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.another h2 {
  display: block;
  position: absolute;
  top: 30px;
  padding-left: 2px;
}

.number-third,
.number-fourth,
.number-fiveth {
  display: block;
  position: absolute;
  top: 103px;
}

.text-features {
  display: block;
  position: absolute;
  top: 147px;
}

.map-form-section {
  position: relative;
}

.map {
  position: relative;
}

.map-img {
  position: absolute;
  top: 230px;
  box-shadow: none;
  background-color: var(--background-li);
  padding: 0;
  margin: 0;
}

.became_interested {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.text-before-map {
  margin-top: 60px;
  padding-bottom: 120px;
}

.form-modal {
  position: absolute;
  right: 316px;
  top: 145px;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
}

.form-search-hotels {
  width: 528px;
  height: 355px;
  font-weight: 700;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.button.search-hotels-form {
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  text-align: center;
}

.button.search-hotels-form:hover {
  background-color: var(--brown-focus);
}

.button.search-hotels-form:active {
  background-color: var(--brown-active);
  border: none;
  color: rgba(255, 255, 255, 30%);
}

.date-arrive-label,
.date-leave-label {
  line-height: 26px;
  margin-right: 5px;
}

.date-input-button {
  width: 346px;
  height: 38px;
  background-color: var(--input-background);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-left: 15px;
  margin-right: 5px;
}

.number-input-button {
  width: 114px;
  height: 38px;
  background-color: var(--input-background);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 20px;
}

.date-arrive-input,
.date-leave-input {
  padding-left: 15px;
}

.number-of-people-input,
.number_of_children-input {
  width: 25px;
  padding-left: 20px;
}

.number_of_children-label {
  line-height: 26px;
  margin-left: 60px;
}

.button.search-hotels {
  width: 458px;
  height: 58px;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background: none;
  border: none;
  background-color: var(--basic-blue);
}

.button.search-hotels:hover {
  background-color: var(--blue-focus);
}

.button.search-hotels:active{
  background-color: var(--blue-active);
  opacity: 0.3;
  border: none;
  color: rgba(255, 255, 255, 30%);
}

.search-hotels input {
  background-color: var(--input-background);
  border: none;
}

.button-calendar {
  border: none;
  margin: 0;
  padding: 0;
}

.button-calendar svg {
  fill: var(--icon-input-color);
  padding-right: 10px;
}

.button-calendar svg:hover {
  fill: var(--basic-black);
}

.button-calendar svg:active {
  fill: var(--basic-blue);
}

.button-minus-one {
  border: none;
  margin: 0;
  padding: 0;
}

.button-minus-one svg {
  fill: var(--icon-input-color);
  padding-left: 10px;
}

.button-minus-one svg:hover {
  fill: var(--basic-black);
}

.button-minus-one svg:active {
  fill: var(--basic-blue);
}

.button-plus-one {
  border: none;
  margin: 0;
  padding: o;
  padding-right: 10px;
}

.button-plus-one svg {
  fill: var(--icon-input-color);
}

.button-plus-one svg:hover {
  fill: var(--basic-black);
}

.button-plus-one svg:active {
  fill: var(--basic-blue);
}

.search-hotels input:hover {
  background-color: var(--input-hover);
  border: none;
}

.search-hotels input:focus {
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
}

.main-footer {
  position: relative;
  margin-top: 470px;
  width: 1200px;
  min-height: 120px;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 400px 400px 400px;
  z-index: 2;
}

.footer-catalog {
  width: 1200px;
  min-height: 120px;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  grid-column: 1/2;
  display: block;
  margin-top: 23px;
  margin-left: 73px;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
}

.contacts-phone {
  font: inherit;
  text-decoration: none;
  color: var(--basic-black);
  display: block;
  margin-top: 10px;
}

.footer-social {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  align-items: center;
}

.blue-squere {
  width: 46px;
  height: 48 px;
  background-color: #81B3D2;
  display: flex;
  justify-content: center;
}

.footer-copyright {
  grid-column: 3/4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin-right: 72px;
  margin-top: 5px;
}
/* hidden h2 */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.twitter-svg,
.youtube-svg {
  text-align: center;
  vertical-align: middle;
  margin: 15px;
}

.facebook-svg {
  text-align: center;
  vertical-align: middle;
  margin: 12px;
}

.blue-squere:hover {
  background-color: var(--blue-focus);
}

.blue-squere:active {
  background-color: var(--blue-active);
}

.twitter-svg:active {
  opacity: 0.3;
}

.youtube-svg:active {
  opacity: 0.3;
}

.facebook-svg:active {
  opacity: 0.3;
}

.copyright-button svg {
  width: 115px;
  height: 41px;
  fill: #231F20;
}

.copyright-button svg:hover {
  fill: var(--basic-blue);
}

.copyright-button svg:active {
  fill: #BDBBBC;
}

.filters-back {
  background: url('../img/catalog_filter.jpg') no-repeat;
  width: 1200px;
  height: 217px;
  background-color: var(--background-li);
}

.choice-of-hotels {
  background: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.infrastructure-options label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin: 25px 18px;
}

.infrastructure-options li {
  padding: 0;
  margin: 0;
}

.infrastructure-options li:first-child {
  margin-top: -18px;
}

.infrastructure {
  grid-row: 1/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin-left: 45px;
  margin-top: 0;
}

.infrastructure-name {
  margin-left: 20px;
  padding-top: 25px;
}

.type-of-housing {
  grid-row: 1/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
  margin-left: -60px;
}

.type-of-housing-name {
  padding-top: 25px;
  margin-left: 10px;
}

.type-of-housing-options li {
  margin: 0;
  padding: 0;
}

.type-of-housing-options li:first-child {
  margin-top: -20px;
}


.type-of-housing-options label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin: 25px 15px;
}

.checkbox-item + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off_catalog.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox-item:disabled + label::before {
  background-image: url(../img/checkbox_disabled.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox-item:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on_catalog.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
}

.checkbox-item:checked:disabled + label::after {
  background-image: url(../img/checkbox-on_disabled.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cost-of-housing {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-left: 100px;
  margin-top: 10px;
}

.cost-of-housing-name {
  margin-left: 75px;
  padding-top: 15px;
}

.cost-of-housing-options {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: none;
  border: 1px solid var(--basic-white);
  margin-top: 12px;
  width: 317px;
}

.cost-of-housing-options::after {
  position: absolute;
  content: "";
  position: absolute;
  top: 5px;
  left: 170px;
  width: 2px;
  height: 22px;
  margin-left: -10px;
  background-color: var(--basic-white);
}

.cost-of-housing-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.cost-of-housing-item label {
  margin: 0;
  padding: 0;
  text-align: right;
  width: 70px;
  padding-left: 14px;
}

.cost-of-housing-item input{
  padding: 0;
  margin: 0;
  border: none;
  text-align: left;
  width: 55px;
  padding-left: 5px;
}

.cost-of-housing-item input:active {
  border: none;
}

.min-price {
  margin: 0;
  padding: 0;
  height: 32px;
  width: 156px;
  text-align: center;
  border: none;
}

.max-price {
  margin: 0;
  padding: 0;
  height: 32px;
  width: 156px;
  text-align: center;
  border: none;
}

.range-controls {
  position: relative;
  width: 320px;
  height: 26px;
  background: none;
  margin-bottom: 0;
}

.range-controls .scale {
  margin-top: 20px;
  margin-left: 15px;
  height: 2px;
  background:rgba(255, 255, 255, 0.7);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--background-toggle);
  border-radius: 50%;
}

.range-controls .toggle-min {
  left: 5px;
}

.range-controls .toggle-max {
  left: 260px;
}

.range-controls .toggle:hover {
  cursor: pointer;
  width: 5px;
  height: 5px;
  padding: 0;
  border: 10px solid var(--basic-white);
  background-color: var(--background-toggle);
  border-radius: 50%;
}

.button.search-of-hotels {
  grid-row: 2/3;
}

.container-inside ul {
  list-style: none;
}

.infrastructure,
.type-of-housing,
.cost-of-housing {
  border: none;
}

.infrastructure legend,
.type-of-housing legend,
.cost-of-housing legend {
  font-weight: 700;
  font-size: 16px;
  color: var(--basic-white);
}

.cost-of-housing-item,
.type-of-housing-item,
.infrastructure-item {
  color: var(--basic-white);
  line-height: 21px;
  padding: 0;
}

.min-price,
.max-price {
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  background: none;
}

.search-of-hotels {
  padding: 6px 34px;
  margin-right: 6px;
  margin-top: 10px;
  border: 2px solid var(--basic-white);
  background: none;
}

.search-of-hotels:hover {
  border: 2px solid var(--basic-white);
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.suggestions-found {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  min-height: 87px;
  margin: 0;
  padding: 0;
}

.searched-result {
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.suggestions-options {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -15px;
}

.suggestions-sort,
.suggestions-sort-item {
  margin: 15px;
}

.sort-by {
  grid-column: 3/4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 90px;
  margin-top: 10px;
}

.suggestions-item {
  font-size: 12px;
  line-height: 18px;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-blue);
  color: rgba(0, 0, 0, 30%);
}

.item-active {
  color: var(--basic-blue);
  text-decoration: none;
  opacity: 1;
}

.suggestions-item:hover {
  color: var(--basic-blue);
  opacity: 1;
  text-decoration-style: dotted;
}

.suggestions-item:active {
  color: var(--basic-black);
  text-decoration: none;
  opacity: 1;
}

.sort-by li {
  margin: 25px 5px;
}

.sort-down path,
.sort-up path{
  fill: var(--icon-up-color);
  text-decoration: none;
}

.sort-up path:hover {
  fill: var(--basic-black);
}

.sort-down path:hover {
  fill: var(--basic-black);
}

.sort-up path:active {
  fill: var(--basic-blue);
}

.sort-active path {
  fill: var(--basic-blue);
}

.sort-down path:active {
  fill: var(--basic-blue);
}

.suggestions-found {
  border-bottom: 1px solid #E5E5E5;
}

.hotels-found-item a {
  text-decoration: none;
}

.hotels-found {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 151px 151px 151px;
}

.hotels-found-option {
  margin: 0;
  padding: 0;
}

.hotels-found-item {
  vertical-align: middle;
  display: grid;
  grid-template-columns: 198px auto 200px;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E5E5E5;
}

.column-hotel-photo {
  grid-column: 1/2;
  margin-left: 5px;
}

.column-hotel-detail {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.column-hotel-rating{
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
}

.hotel-name {
  margin: 0;
  padding: 0;
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-decoration: none;
  text-align: left;
  margin-top: 8px;
}

.row-hotel-type {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 7px;
}

.hotel-type,
.hotel-price {
  display: inline-block;
  width: 110px;
  margin-top: 0;
}

.hotel-price {
  margin-left: 5px;
}

.row-hotel-buttons {
  text-align: left;
  margin-top: 2px;
}

.hotel-name:hover {
  color: var(--basic-blue);
}

.hotel-name:active {
  color: var(--basic-black);
}

.hotel-rating {
  display: block;
  text-align: center;
  padding: 2px 5px;
  background-color: var(--input-background);
  width: 110px;
  color: var(--rating-color);
  margin-left: 6px;
  margin-right: 32px;
  margin-bottom: 21px;
}

.rating-star {
  text-align: right;
  margin-right: 30px;
}

.hotel-detail {
  padding: 5px 16px;
  font-weight: 700;
  background: none;
  border: none;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-transform: uppercase;
}

.hotel-detail:hover {
  background-color: var(--blue-focus);
}

.hotel-detail:active {
  background-color: var(--blue-active);
}

.book-order {
  padding: 5px 18px;
  background: none;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  margin-left: 2px;
}

.book-order:hover {
  background-color: var(--brown-focus);
}

.book-order:active {
  background-color: var(--brown-active);
}

.suggestion-found {
  min-height: 86px;
  margin: 0;
  padding: 0;
}

.searched-result {
  font-size: 21px;
  font-weight: 700;
}


